<section class="pt-5">
		<div class="container mt-2 pt-2">

		<div class="p-5 text-center hero" style="margin-top: 58px; border-radius: 25px;  text-shadow:  2px 2px 8px rgb(18, 18, 18);">
			<h1 class="mb-3">E Commerce Backend</h1>
			<h4 class="mb-3">See all products, add new products to cart, interact in our chat, and more!</h4>
			<a class="btn btn-primary" href="/products/cards" role="button">See all our products here!</a>
		</div>

	</div>
</section>


